<nav class="navbar fixed-top navbar-dark navbar-expand-xl ">
	<a href="/" class="navbar-brand">Mace<b>Book</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		<form class="navbar-form form-inline" action="/search">
			<div class="input-group search-box">				
				<input type="text" id="search" class="form-control" placeholder="search here...">
				<span class="input-group-append"> <a href="/search"> 
                <i class="material-icons">&#xE8B6;</i></span></a>
			</div>
		</form >
		<div class="navbar-nav ml-auto">
			<a href="/createpost" class="nav-item nav-link"><i class="fa fa-plus-circle"></i><span>post</span></a>
			<% if(isauth) { %>
			 <div class="nav-item navbar-nav dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><i class="fa fa-user-circle"></i><span><%= user.username %></span> <b class="caret"></b></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="/u/" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="/settings" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="divider dropdown-divider"></div>
					<form action="/logout?_method=DELETE" method="POST">
					<button type="submit" class="newbtn"><a class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
					</button></form>
				</div>
			</div> 
			<%}else{%>
            <a href="/login" class="nav-item nav-link"><i class="fa fa-user-circle"></i><span>SignIn</span></a>
			<% } %>
		</div>
	</div>
</nav>