<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs',{title: "MaceBook" }) %>
    <%- include('../partials/scripts.ejs') %>
    </head>
<body>
    <%- include('../partials/nav.ejs') %>

    <%- body %>
      
</body>
</html>