<div class="container ">
	<div class="row justify-content-center">
	    
	    <div class="col-md-8 col-md-offset-2">
	        <br>
    		    <section>
					<button id="text" class="active" autofocus >TEXT</button><button id="url">URL</button>
				</section>
			<br>
    		<form action="" method="POST">
    		    <div class="form-group">
    		        <label for="title">Title</label>
    		        <input type="text" class="form-control" name="title" />
    		    </div>
                <div class="form-group has-error" id="urlpost">
    		        <label for="url">Url</label>
    		        <input type="text" class="form-control" name="url" />
    		        <!-- <span class="help-block">Field not entered!</span> -->
    		    </div>
    		    <div class="form-group" id="textpost">
    		        <label for="description">Text</label>
    		        <textarea rows="3" class="form-control" name="description" ></textarea>
    		    </div>
    		    <div class="form-group">
    		        <button type="submit" style="background-color: black; color: white;">
    		            Create
    		        </button>
    		    </div>    
			</form>	
		</div>	
	</div>
</div>
