<div class="container ">
	<div class="row justify-content-center">
	    
	    <div class="col-md-8 col-md-offset-2">
	        <br>
    		    <section>
					<button id="text" class="active" autofocus >TEXT</button><button id="url">URL</button>
				</section>
			<br>
    		<form action="" method="POST" id="createpostform">
				<div class="form-group">
					<h6></h6><% if (message) { %>
						<%= message %> 
					   <% } %></h6>
					</div>
    		    <div class="form-group">
    		        <label for="title">Title</label>
    		        <input type="text" class="form-control" name="title" id="title"/>
    		    </div>
                <div class="form-group" id="urlpost">
    		        <label for="url">Url</label>
    		        <input type="url" class="form-control" id="urlar" name="url"/>
    		    </div>
    		    <div class="form-group" id="textpost">
    		        <label for="description">Text</label>
    		        <textarea rows="3" class="form-control" id="textar"type="text" name="text"></textarea>
				</div>
				<div class="form-group" id="type">
    		        <input type="text"  class="value" class="form-control" name="type" value="text"/>
    		    </div>
    		    <div class="form-group">
    		        <button  type="button" onclick="submitForm()" style="background-color: black; color: white;">
    		            Create
    		        </button>
    		    </div>    
			</form>	
		</div>	
	</div>
</div>
<script src="/js/createpost.js"></script>
