<nav></nav>
    <div class="container-fluid" style="padding-top: 3%;">
        <div class="row">
            <div class="col-md-1"> </div>             
            <div class="col-md-10 ">
                <div class="card ">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <div class="h5"><a class="card-link" href="#">u/user</a></div>
                                </div>                               
                            </div>
                            <div>10 mins ago</div>                                                           
                        </div>
                    </div>
                    <div class="card-body">                     
                        <a class="card-link" href="#">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                        </a>
                        <p class="card-text">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse  ipsum dolor sit amet consectetur  
                        </p>
                    </div>
                    <div class="card-footer">  
                    	 <a href="#" class="card-link"> ↑</a>
                          &nbsp; &nbsp;10
                         <a href="#" class="card-link">↓</a>
                         <a href="#" class="card-link">10 Comments</a>                       
                    </div>
                </div>
            </div>           
        </div>
    </div>
    